Lisa/DevTest - Architecture Best Practices Overview/csi_OrderAndSubscriptionManagementMobility_232.0_schema/CommonDataModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- =========================================================================

                         AT&T Proprietary (Internal Use Only)                                           

  Not for use or disclosure outside the AT&T companies except under written agreement

  (c) 2007 AT&T Intellectual Property. All rights reserved. AT&T and

        the AT&T logo are trademarks of AT&T Intellectual Property.

======================================================================= -->
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
 xmlns='http://csi.att.com/CSI/Namespaces/OrderAndSubscriptionManagementMobility/Types/Public/CommonDataModel.xsd'
 targetNamespace='http://csi.att.com/CSI/Namespaces/OrderAndSubscriptionManagementMobility/Types/Public/CommonDataModel.xsd'
 elementFormDefault='qualified'
 version='214.0.01'>
  <xs:simpleType name='AccountSubTypeIndicatorInfo'>
    <xs:annotation>
      <xs:documentation>The types change according to the account types
    acc_type   acc_sub_type     description
    B               C           Delivery Company    
    B               G           Prepaid BCG or Prepaid Ericsson     
    B               I           Group Attributes      
    B               M           Major        
    B               N           National     
    B               R           Regular      
    B                Z          Credit Limit 
    E               B           Store BAN    
    E               O       1SS  
    E               R           Regular      
    E               X           X Market     
    G               E           Federal      
    G               L           Local        
    G               R           Regular      
    G               S           State        
    I                D          Employee     
    I               G       Prepaid    
    I               R           Regular      
    I               V           Individual - Prepay 
    I               Z   Credit Limit
    I               H   Hybrid
    S               C          Test Accounts       
    S               D          Demos        
    S               L           Alliance     
    S               T           Reseller     
    S               W         Switch Share
    T                 R         Split Liability Account</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='1'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='AccountTypeIndicatorInfo'>
    <xs:annotation>
      <xs:documentation>Business - B, Excp-Ctrl  - E,Government - G, Individual - I, Special - S, Target BAN for SLB (cannot have subscriptions) - T, Telco Reseller - C</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='1'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='AddressCityInfo'>
    <xs:annotation>
      <xs:documentation>The City of this address.Mandatory only when Address type = &apos;Street&apos;, &apos;Military&apos;, &apos;P.O. Box&apos;, or &apos;Rural Route&apos;.</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='40'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='AddressCountryInfo'>
    <xs:annotation>
      <xs:documentation>International standard (ISO) 2-character country code.</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:length value='2'/>
      <xs:pattern value='[A-Z]{2}'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='AddressLineInfo'>
    <xs:annotation>
      <xs:documentation>Not all systems will be able to accept or return this number of characters for an address line.  Some Cingular systems are more restrictive on address line length than what is shown here.</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='120'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='AddressStateInfo'>
    <xs:annotation>
      <xs:documentation>State abbreviation</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='2'/>
      <xs:enumeration value='JA'/>
      <xs:enumeration value='AL'/>
      <xs:enumeration value='AK'/>
      <xs:enumeration value='AZ'/>
      <xs:enumeration value='AR'/>
      <xs:enumeration value='CA'/>
      <xs:enumeration value='CO'/>
      <xs:enumeration value='CT'/>
      <xs:enumeration value='DE'/>
      <xs:enumeration value='DC'/>
      <xs:enumeration value='FL'/>
      <xs:enumeration value='GA'/>
      <xs:enumeration value='HI'/>
      <xs:enumeration value='ID'/>
      <xs:enumeration value='IL'/>
      <xs:enumeration value='IN'/>
      <xs:enumeration value='IA'/>
      <xs:enumeration value='KS'/>
      <xs:enumeration value='KY'/>
      <xs:enumeration value='LA'/>
      <xs:enumeration value='ME'/>
      <xs:enumeration value='MD'/>
      <xs:enumeration value='MA'/>
      <xs:enumeration value='MI'/>
      <xs:enumeration value='MN'/>
      <xs:enumeration value='MS'/>
      <xs:enumeration value='MO'/>
      <xs:enumeration value='MT'/>
      <xs:enumeration value='NE'/>
      <xs:enumeration value='NV'/>
      <xs:enumeration value='NH'/>
      <xs:enumeration value='NJ'/>
      <xs:enumeration value='NM'/>
      <xs:enumeration value='NY'/>
      <xs:enumeration value='NC'/>
      <xs:enumeration value='ND'/>
      <xs:enumeration value='OH'/>
      <xs:enumeration value='OK'/>
      <xs:enumeration value='OR'/>
      <xs:enumeration value='PA'/>
      <xs:enumeration value='RI'/>
      <xs:enumeration value='SC'/>
      <xs:enumeration value='SD'/>
      <xs:enumeration value='TN'/>
      <xs:enumeration value='TX'/>
      <xs:enumeration value='UT'/>
      <xs:enumeration value='VT'/>
      <xs:enumeration value='VA'/>
      <xs:enumeration value='WA'/>
      <xs:enumeration value='WV'/>
      <xs:enumeration value='WI'/>
      <xs:enumeration value='WY'/>
      <xs:enumeration value='AB'/>
      <xs:enumeration value='BC'/>
      <xs:enumeration value='DR'/>
      <xs:enumeration value='MB'/>
      <xs:enumeration value='MX'/>
      <xs:enumeration value='NB'/>
      <xs:enumeration value='NF'/>
      <xs:enumeration value='NS'/>
      <xs:enumeration value='ON'/>
      <xs:enumeration value='PE'/>
      <xs:enumeration value='PQ'/>
      <xs:enumeration value='PR'/>
      <xs:enumeration value='SK'/>
      <xs:enumeration value='VI'/>
      <xs:enumeration value='DF'/>
      <xs:enumeration value='NA'/>
      <xs:enumeration value='GT'/>
      <xs:enumeration value='PU'/>
      <xs:enumeration value='YA'/>
      <xs:enumeration value='SN'/>
      <xs:enumeration value='BA'/>
      <xs:enumeration value='AP'/>
      <xs:enumeration value='CL'/>
      <xs:enumeration value='AA'/>
      <xs:enumeration value='BI'/>
      <xs:enumeration value='PB'/>
      <xs:enumeration value='AG'/>
      <xs:enumeration value='BN'/>
      <xs:enumeration value='CI'/>
      <xs:enumeration value='CP'/>
      <xs:enumeration value='CS'/>
      <xs:enumeration value='DU'/>
      <xs:enumeration value='GJ'/>
      <xs:enumeration value='GR'/>
      <xs:enumeration value='HD'/>
      <xs:enumeration value='HK'/>
      <xs:enumeration value='MC'/>
      <xs:enumeration value='MR'/>
      <xs:enumeration value='NL'/>
      <xs:enumeration value='NZ'/>
      <xs:enumeration value='OX'/>
      <xs:enumeration value='QT'/>
      <xs:enumeration value='QR'/>
      <xs:enumeration value='SL'/>
      <xs:enumeration value='SO'/>
      <xs:enumeration value='TA'/>
      <xs:enumeration value='TB'/>
      <xs:enumeration value='TL'/>
      <xs:enumeration value='VE'/>
      <xs:enumeration value='YC'/>
      <xs:enumeration value='ZA'/>
      <xs:enumeration value='ZZ'/>
      <xs:enumeration value='AE'/>
      <xs:enumeration value='BE'/>
      <xs:enumeration value='YT'/>
      <xs:enumeration value='AS'/>
      <xs:enumeration value='FM'/>
      <xs:enumeration value='GM'/>
      <xs:enumeration value='MH'/>
      <xs:enumeration value='NO'/>
      <xs:enumeration value='PL'/>
      <xs:enumeration value='UM'/>
      <xs:enumeration value='VZ'/>
      <xs:enumeration value='CE'/>
      <xs:enumeration value='CR'/>
      <xs:enumeration value='LM'/>
      <xs:enumeration value='TE'/>
      <xs:enumeration value='FS'/>
      <xs:enumeration value='FN'/>
      <xs:enumeration value='CN'/>
      <xs:enumeration value='GU'/>
      <xs:enumeration value='MP'/>
      <xs:enumeration value='PW'/>
      <xs:enumeration value='NT'/>
      <xs:enumeration value='NU'/>
      <xs:enumeration value='QC'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='AddressZipCodeInfo'>
    <xs:annotation>
      <xs:documentation>Zip code</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:minLength value='5'/>
      <xs:maxLength value='9'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='AffiliateBillingAccountNumberInfo'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='16'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='AffiliateTypeCodeInfo'>
    <xs:annotation>
      <xs:documentation>Type of business performed by affiliate company. 
                I=Internet Services
                L=Long Distance
                S=Satellite
                T=Telco
                W=Wireless
                X=Uverse
                D=DSL Dry Loop
                U=Universal Biller</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:minLength value='1'/>
      <xs:maxLength value='1'/>
      <xs:enumeration value='I'/>
      <xs:enumeration value='L'/>
      <xs:enumeration value='S'/>
      <xs:enumeration value='T'/>
      <xs:enumeration value='W'/>
      <xs:enumeration value='X'/>
      <xs:enumeration value='D'/>
      <xs:enumeration value='U'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='AttentionInfo'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='25'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='BillingAccountIdInfo'>
    <xs:annotation>
      <xs:documentation>Billing Account Id including 3 character customer code.</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='13'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='BillingAccountNumberInfo'>
    <xs:annotation>
      <xs:documentation>Billing account number</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[0-9]{8}'/>
      <xs:pattern value='[0-9]{9}'/>
      <xs:pattern value='[0-9]{12}'/>
      <xs:pattern value='[0-9]{13}'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='BillingCycleInfo'>
    <xs:annotation>
      <xs:documentation>Day of month billing will occur on</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:short'/>
  </xs:simpleType>
  <xs:simpleType name='BillingMediaInfo'>
    <xs:annotation>
      <xs:documentation>Please contact Cingular business to identify correct Billing Media Type.
For a sample reference please look at Bill Media spreadsheet under ../Documentation/CingularDataModel/</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='2'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='BooleanStringInfo'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='TRUE'/>
      <xs:enumeration value='FALSE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='BooleanTrueInfo'>
    <xs:restriction base='xs:boolean'>
      <xs:pattern value='true'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='BooleanWithUndefinedInfo'>
    <xs:annotation>
      <xs:documentation>To be used only when three possible states are necessary, such as handling a null situation.</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='true'/>
      <xs:enumeration value='false'/>
      <xs:enumeration value='undefined'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='BusinessTypeInfo'>
    <xs:annotation>
      <xs:documentation>The value marks the base representation of the business types options
    Required when the accountType is = &quot;B&quot; for business
    Valid values are:
    Corporation - C
    Partnership - P
    Sole Ownership - S
    Small Business Personal Liability (SBPL) - B</xs:documentation>
      <xs:documentation>The business type &apos;B&apos; (SBPL) can be used for account inquiry only (it cannot be used for account creation and update).</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='1'/>
      <xs:enumeration value='C'/>
      <xs:enumeration value='P'/>
      <xs:enumeration value='S'/>
      <xs:enumeration value='B'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='ContractTypeInfo'>
    <xs:annotation>
      <xs:documentation>Contract type   Contract type Description                           Contract Size
                CGSA                Cingular General Services Administration    Large
                CAU             College and University Advantage                Large
                GEO             Government Employee Offer                       Large
                GSA1                General Services Administration 1               Large
                GSA2                General Services Administration 2               Large
                GSA3                General Services Administration 3               Large
                WSCA                Western States Contracting Alliance         Large
                CAU             College and University Advantage                Large
                CCDA                Cingular Corporate Digital Advantage        Large
                CFRA                Cingular Franchise Advantage                    Large
                CDA             Corporate Digital Advantage                         Large
                CDA1                Corporate Digital Advantage 1                   Large
                CDA2                Corporate Digital Advantage 2                   Large
                FRA                 Franchise Advantage                                 Large
                NAS0498     ?                                                                   Large
                Business Consortium Business Consortium                     Large
                CDA             Corporate Digital Advantage                         Large
                CDA1                Corporate Digital Advantage 1                   Large
                CMSA                Customer Master Service Agreements      Large
                MSA             Master Service Agreements                       Large
                CBE0                Cingular Business Edge 0                            Small
                CBE1                Cingular Business Edge 1                            Small
                RBP                 Regional @Vantage                                   Small
                WBA1                Wireless Business Advantage 1               Small
                WBA2                Wireless Business Advantage 2               Small
                WBA3                Wireless Business Advantage 3               Small
                BSA             Business Service Agreement                      Small</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='CreditClassInfo'>
    <xs:annotation>
      <xs:documentation>Defines the credit risk
CARE Markets: 1-8, P (description varies by accountType)
Telegence Markets: A - Government Account,  B - Known Good Credit, C - Unknown Credit, D - Known Poor Credit, E - Employee, M - MABEL (Major Account Billing Exchange Logistical)</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='CreditRiskInfo'>
    <xs:annotation>
      <xs:documentation>The credit risk of the contact. For example - &quot;Unknown&quot; should be send for Anonymous user.</xs:documentation>
      <xs:documentation>Valid Values - LOW, MEDIUM, HIGH, UNKNOWN.</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='CurrencyAmountInfo'>
    <xs:annotation>
      <xs:documentation>A monetary currency value</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:decimal'>
      <xs:pattern value='\-?\d{0,9}(\.\d{1,2})?'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='DTVAccountNumberInfo'>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[0-9]{1,10}'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='DataUnit'>
    <xs:annotation>
      <xs:documentation>The data unit</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:decimal'>
      <xs:totalDigits value='13'/>
      <xs:fractionDigits value='4'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='DataUnitOfMeasureInfo'>
    <xs:annotation>
      <xs:documentation>Unit of measure for data usage: KB - Kilo bytes, MB - Mega bytes, GB - Giga bytes, $ - Amount</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='KB'/>
      <xs:enumeration value='MB'/>
      <xs:enumeration value='GB'/>
      <xs:enumeration value='$'/>
      <xs:enumeration value='MI'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='DateTimeWithTimezoneInfo'>
    <xs:annotation>
      <xs:documentation>Designates a date/time stamp in UTC format. The following formats are accepted: YYYY-MM-DDThh:mm:ssZ or YYYY-MM-DDThh:mm:ss.xxxZ
                Where :
                 - YYYY indicates the year
                 - MM indicates the month
                 - DD indicates the day
                 - T is a fixed character, indicating the time section
                 - hh indicates the hour, zero pre-pended
                 - mm indicates the minute, zero pre-pended
                 - ss indicates the second, zero pre-pended
                 - xxx indicates the millisecond, zero pre-pended
                 - Z is a fixed character, indicating UTC time zone</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:dateTime'>
      <xs:pattern value='.+T.+Z'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='DateWithTimezoneInfo'>
    <xs:annotation>
      <xs:documentation>Designates a date in UTC format. The following formats is accepted: YYYY-MM-DDZ
                Where :
                 - YYYY indicates the year
                 - MM indicates the month
                 - DD indicates the day
                 - Z is a fixed character, indicating UTC time zone</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:date'>
      <xs:pattern value='.+Z'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='DateWithoutTimezoneInfo'>
    <xs:annotation>
      <xs:documentation>Designates a date with no timezone information. The following formats is accepted: YYYY-MM-DD
                Where :
                 - YYYY indicates the year
                 - MM indicates the month
                 - DD indicates the day</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:date'/>
  </xs:simpleType>
  <xs:simpleType name='EmailAddressInfo'>
    <xs:annotation>
      <xs:documentation>E-mail address</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='80'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='EquipmentTypeInfo'>
    <xs:annotation>
      <xs:documentation>Equipment type (Cellular = C, GSM = G)</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:minLength value='1'/>
      <xs:enumeration value='C'/>
      <xs:enumeration value='G'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='FiberServiceAccountNumberInfo'>
    <xs:annotation>
      <xs:documentation>This is Uverse billing account number.</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:length value='9'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='FiberServiceMemberIdInfo'>
    <xs:annotation>
      <xs:documentation>The unverified member id in email address format. For example - qay2002@att.net</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:minLength value='1'/>
      <xs:maxLength value='51'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='FiberServiceOrderStatusInfo'>
    <xs:annotation>
      <xs:documentation>Order status codes used in Uverse or Titan accounts (when Uverse is linked to a SLID) for customer login profile.</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:minLength value='1'/>
      <xs:maxLength value='2'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='FirstNameInfo'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='32'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='FormattedNameInfo'>
    <xs:restriction base='xs:string'>
      <xs:minLength value='1'/>
      <xs:maxLength value='65'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='FoundationAccountNumberInfo'>
    <xs:annotation>
      <xs:documentation>Foundation Account Number is a unique number defined and used  to group customer accounts across all markets. It functions as the master account number and defines a customer???s specific billing, reporting, and discount processes.</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='8'/>
      <xs:minLength value='4'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='GroupIdInfo'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='20'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='GroupTypeInfo'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='20'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='InternationalMobileEquipmentIdentityInfo'>
    <xs:annotation>
      <xs:documentation>IMSI is used with GSM technology or GAIT capable devices.
 The equipment identification number, similar to a serial number - used to identify a mobile station.</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='15'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='InternationalMobileEquipmentIdentityTypeInfo'>
    <xs:annotation>
      <xs:documentation>IMEI Type uniquely identifies specific kinds of devices and their capabilities.</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='IpV4AddressInfo'>
    <xs:annotation>
      <xs:documentation>IP V4 Address</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='LanguageInfo'>
    <xs:annotation>
      <xs:documentation>The language of the account.</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:minLength value='1'/>
      <xs:maxLength value='10'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='LastNameInfo'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='60'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='MeasurementUnitInfo'>
    <xs:restriction base='xs:NCName'>
      <xs:enumeration value='MEGABITS_PER_SECOND'/>
      <xs:enumeration value='FEET'/>
      <xs:enumeration value='MILES'/>
      <xs:enumeration value='QUARTER_MILES'/>
      <xs:enumeration value='KILO_FEET'/>
      <xs:enumeration value='KILO_METER'/>
      <xs:enumeration value='HUNDRED_OHMS'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='MemberNumberInfo'>
    <xs:restriction base='xs:int'/>
  </xs:simpleType>
  <xs:simpleType name='OfferingCodeInfo'>
    <xs:annotation>
      <xs:documentation>Cingular Billing System Code for an offering (Telegence SOC or CARE Feature).</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='9'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='OpenChannelInfo'>
    <xs:annotation>
      <xs:documentation>Identifies the sales channel by which the account holder became a customer. Options include:
Regular - R - (Activates through the wireless company)
Joint Marketing - J - (Activates through the landline phone company)
1SS -S  - (Used for corporate billing, if a CBN (corporate billing number) is available).</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='1'/>
      <xs:enumeration value='R'/>
      <xs:enumeration value='J'/>
      <xs:enumeration value='S'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='SLIDMemberIdInfo'>
    <xs:annotation>
      <xs:documentation>The slid member id in email address format. For example - qay2002@att.net</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:minLength value='1'/>
      <xs:maxLength value='160'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='SecureEncryptedBaseTypeInfo'>
    <xs:annotation>
      <xs:documentation>DO NOT USE THIS TYPE IN SCHEMAS - Base type for encrypted elements, Always use derived/extended types listed below</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='SecureEncryptedDateOfBirthInfo'>
    <xs:annotation>
      <xs:documentation>Encrypted or Plain Text Date of Birth  
                The following formats is accepted: YYYY-MM-DD
                Where :
                 - YYYY indicates the year
                 - MM indicates the month
                 - DD indicates the day
                 EFPE Format used to encrypt or decrypt this value: BIRTH_DATE</xs:documentation>
    </xs:annotation>
    <xs:restriction base='SecureEncryptedBaseTypeInfo'>
      <xs:pattern value='\S{4}-\S{2}-\S{2}'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='SecureEncryptedGenericInfo'>
    <xs:annotation>
      <xs:documentation>Encrypted or Plain Text  Used for data that needs to be BASE64 encoded. Clients who are volted need to pass in a minimum of 15 characters - see the CSO BASE64 documentation to find details on how to pad stings to reach the 15 character limit. Following special charcaters are pass through [space]   EFPE Format used to encrypt or decrypt this value: B64_GENERIC</xs:documentation>
    </xs:annotation>
    <xs:restriction base='SecureEncryptedBaseTypeInfo'/>
  </xs:simpleType>
  <xs:simpleType name='SocialSecurityNumberLastFourDigitsInfo'>
    <xs:annotation>
      <xs:documentation>Last four digits of the SSN</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:length value='4'/>
      <xs:pattern value='\d{4}'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='StatusReasonCodeInfo'>
    <xs:annotation>
      <xs:documentation>A code indicating the Reason an Account or Subscriber was placed in the current Status.</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='4'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='SubscriberIdInfo'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='120'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='SubscriberNumberInfo'>
    <xs:annotation>
      <xs:documentation>Mobile Telephone Number associated with this serial number.</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:length value='10'/>
      <xs:pattern value='\d{10}'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='SubscriberStatusInfo'>
    <xs:annotation>
      <xs:documentation>RESERVED - R, ACTIVE - A, CANCELLED - C, SUSPENDED - S, RELEASED - L</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='1'/>
      <xs:enumeration value='R'/>
      <xs:enumeration value='A'/>
      <xs:enumeration value='C'/>
      <xs:enumeration value='S'/>
      <xs:enumeration value='L'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='SubscriptionClassInfo'>
    <xs:annotation>
      <xs:documentation>Class of subscriber: possible values are: &quot;S&quot; =&gt; OnStar, &quot;U&quot; =&gt; Audi, &quot;V&quot; =&gt; Volvo, &quot;E&quot; =&gt; OnStar Europe, etc.</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='2'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='TechnologyTypeInfo'>
    <xs:annotation>
      <xs:documentation>Literal representation of the technology type: 
GSM = the mobile is homed to a GSM switch but does not have the GAIT feature; 
GSM-GAIT = the mobile is homed to a GSM switch and has the GAIT feature; 
GAIT = the mobile is GAIT enabled
TDMA = the mobile is homed to a TDMA switch but does not have the GAIT feature;
TDMA-GAIT = the mobile is homed to a TDMA switch and has the GAIT feature. 
GSM-UMTS = the mobile is homed to a GSM switch and has the UMTS feature 
UMTS = the mobile is UMTS enabled
LTE= Long Term Evolution 
Based on the technology some fields are required for the device
    ESN is used with Tdma technology based devices or GAIT capable devices
    SIM is used with GMS technology or UMTS feature based devices
    IMSI and IMEI is used with GSM technology or UMTS or GAIT capable devices</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='10'/>
      <xs:enumeration value='GSM'/>
      <xs:enumeration value='TDMA'/>
      <xs:enumeration value='GSM-GAIT'/>
      <xs:enumeration value='GAIT'/>
      <xs:enumeration value='TDMA-GAIT'/>
      <xs:enumeration value='GSM-UMTS'/>
      <xs:enumeration value='UMTS'/>
      <xs:enumeration value='LTE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='TelephoneNumberInfo'>
    <xs:annotation>
      <xs:documentation>Standard 10 digit Telephone Number.</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:length value='10'/>
      <xs:pattern value='\d{10}'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='TimeWithTimezoneInfo'>
    <xs:annotation>
      <xs:documentation>Designates a time stamp in UTC format. The following formats are accepted: hh:mm:ssZ or hh:mm:ss.xxxZ
                Where :
                 - hh indicates the hour, zero pre-pended
                 - mm indicates the minute, zero pre-pended
                 - ss indicates the second, zero pre-pended
                 - xxx indicates the millisecond, zero prepended
                 - Z is a fixed character, indicating UTC time zone</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:time'>
      <xs:pattern value='.+Z'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='URLInfo'>
    <xs:annotation>
      <xs:documentation>Uniform Resource Locator</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='2000'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='VideoBillInfo'>
    <xs:annotation>
      <xs:documentation>1: video Bill for 1st bill, 2: video Bill for 2nd bill, P: video bill for change order next bill</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:length value='1'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='WirelineTelephoneNumberInfo'>
    <xs:annotation>
      <xs:documentation>Telephone Number with letters and digits</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:length value='10'/>
      <xs:pattern value='\d{3}[0-9,a-z,A-Z]{1}\d{2}[0-9,a-z,A-Z]{1}\d{3}'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='ZipCodeExtensionInfo'>
    <xs:annotation>
      <xs:documentation>Zip code extension used with Zip+4</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:length value='4'/>
      <xs:pattern value='\d{4}'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='ZipCodeInfo'>
    <xs:annotation>
      <xs:documentation>Standard Zip Code</xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:length value='5'/>
      <xs:pattern value='\d{5}'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name='AccountCustomerNotificationInfo'>
    <xs:sequence>
      <xs:element name='type' type='xs:string' minOccurs='0'>
        <xs:annotation>
          <xs:documentation>For Wireline the Notificaion Type will be: BILL_READY, PAYMENT_REMINDER and BILL_THRESHOLD_EXCEEDED</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='method' type='xs:string' minOccurs='0'>
        <xs:annotation>
          <xs:documentation>Notificaion Method name Eg: Email, sms</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='thresholdMeasurement' type='xs:string' minOccurs='0'>
        <xs:annotation>
          <xs:documentation>Notification will be sent based on the threshold measurement</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='establishedDate' type='DateWithTimezoneInfo' minOccurs='0'>
        <xs:annotation>
          <xs:documentation>Notification Established Date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='phoneNumber' type='TelephoneNumberInfo' minOccurs='0'/>
      <xs:element name='billReadyNotificationEmail' type='EmailAddressInfo' minOccurs='0'/>
      <xs:element name='billReadyNotificationIndicator' type='BooleanTrueInfo' minOccurs='0'/>
      <xs:element name='notificationCode' type='xs:int' minOccurs='0'/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='AccountStatusInfo'>
    <xs:sequence>
      <xs:element name='status' minOccurs='0'>
        <xs:annotation>
          <xs:documentation>A - Active [Telegence os (O)pen], C - Charge-Off, W - Write-Off, T - Temporary/Tentative, N - New, D - Closed [not used by CARE], S - Suspended, X - Cancelled</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base='xs:string'>
            <xs:length value='1'/>
            <xs:enumeration value='A'/>
            <xs:enumeration value='C'/>
            <xs:enumeration value='W'/>
            <xs:enumeration value='T'/>
            <xs:enumeration value='N'/>
            <xs:enumeration value='D'/>
            <xs:enumeration value='S'/>
            <xs:enumeration value='X'/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name='time' type='TimeWithTimezoneInfo' minOccurs='0'/>
      <xs:element name='date' type='DateWithTimezoneInfo' minOccurs='0'/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='AccountTypeInfo'>
    <xs:sequence>
      <xs:element name='accountType' type='AccountTypeIndicatorInfo'/>
      <xs:element name='accountSubType' type='AccountSubTypeIndicatorInfo'/>
      <xs:element name='businessType' type='BusinessTypeInfo' minOccurs='0'/>
      <xs:element name='openChannel' type='OpenChannelInfo' minOccurs='0'/>
      <xs:element name='creditClass' type='CreditClassInfo' minOccurs='0'/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='AddressTwoLineSimpleInfo'>
    <xs:sequence>
      <xs:element name='Attention' type='AttentionInfo' minOccurs='0'>
        <xs:annotation>
          <xs:documentation>Attention Line.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='AddressLine1' type='AddressLineInfo'>
        <xs:annotation>
          <xs:documentation>Primary Address Line.  Not all systems will be able to accept or return this number of characters for an address line.  Some Cingular systems are more restrictive on address line length than what is shown here.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='AddressLine2' type='AddressLineInfo' minOccurs='0'>
        <xs:annotation>
          <xs:documentation>Secondary Address Line.   Not all systems will be able to accept or return this number of characters for an address line.  Some Cingular systems are more restrictive on address line length than what is shown here.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='city' type='AddressCityInfo'>
        <xs:annotation>
          <xs:documentation>City name.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='state' type='AddressStateInfo'>
        <xs:annotation>
          <xs:documentation>State code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Zip' type='AddressZipInfo'>
        <xs:annotation>
          <xs:documentation>Zip code information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element default='US' name='Country' type='AddressCountryInfo' minOccurs='0'>
        <xs:annotation>
          <xs:documentation>Country code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='countyCode' minOccurs='0'>
        <xs:simpleType>
          <xs:restriction base='xs:string'>
            <xs:maxLength value='20'/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='AddressZipInfo'>
    <xs:sequence>
      <xs:element name='zipCode' type='ZipCodeInfo'/>
      <xs:element name='zipCodeExtension' type='ZipCodeExtensionInfo' minOccurs='0'/>
      <xs:element name='zipGeoCode' minOccurs='0'>
        <xs:simpleType>
          <xs:restriction base='xs:string'>
            <xs:maxLength value='10'/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='CustomerTagCodeInfo'>
    <xs:sequence>
      <xs:element name='name' type='xs:string'>
        <xs:annotation>
          <xs:documentation>fFeld name; possible values -(ISM, etc.)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='value'>
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base='xs:string'>
            <xs:maxLength value='100'/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='IntegratedOfferAccountDetails'>
    <xs:sequence>
      <xs:element name='billingAccountNumber'>
        <xs:simpleType>
          <xs:restriction base='xs:string'>
            <xs:maxLength value='13'/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name='integratedOffers' maxOccurs='4999' minOccurs='0'>
        <xs:complexType>
          <xs:sequence>
            <xs:element name='creditedFlag' minOccurs='0'>
              <xs:annotation>
                <xs:documentation>Possible values are QUALIFIER,
BENEFICIARY</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:maxLength value='20'/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name='sequenceNumber' minOccurs='0'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:maxLength value='150'/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name='id' minOccurs='0'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:maxLength value='50'/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name='expirationDate' type='DateTimeWithTimezoneInfo' minOccurs='0'/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='LoyaltyDetailsInfo'>
    <xs:annotation>
      <xs:documentation>Details about Loyalty programs</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name='AccountIdentifier' minOccurs='0'>
        <xs:complexType>
          <xs:choice>
            <xs:element name='accountSORId' type='xs:int'>
              <xs:annotation>
                <xs:documentation>Wireless account if the value is 6. Titan account id the value is 13.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name='accountBAN' type='BillingAccountNumberInfo'>
              <xs:annotation>
                <xs:documentation>Account  BAN associated with businessAffiliateAccountNumber as part of the AffiliateAccountProfile structure.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name='LoyaltyAccountAssociation' maxOccurs='unbounded' minOccurs='0'>
        <xs:complexType>
          <xs:sequence>
            <xs:element name='loyaltyCardNumber' minOccurs='0'>
              <xs:annotation>
                <xs:documentation>The partial Loyalty Card No  (Plenti ID).</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:maxLength value='16'/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name='loyaltyProgram' minOccurs='0'>
              <xs:annotation>
                <xs:documentation>Loyalty Program ID</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:maxLength value='20'/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name='associationMadeBy' minOccurs='0'>
              <xs:annotation>
                <xs:documentation>Acces Id of the user</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:maxLength value='200'/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name='startDate' type='DateTimeWithTimezoneInfo' minOccurs='0'>
              <xs:annotation>
                <xs:documentation>The start date.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name='endDate' type='DateTimeWithTimezoneInfo' minOccurs='0'>
              <xs:annotation>
                <xs:documentation>The end date.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name='LoyaltyOfferAcceptance' maxOccurs='unbounded' minOccurs='0'>
        <xs:complexType>
          <xs:sequence>
            <xs:element name='billPayAccountIndicator' type='BooleanTrueInfo' minOccurs='0'>
              <xs:annotation>
                <xs:documentation>The bill pay account indicator</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name='offerCode' minOccurs='0'>
              <xs:annotation>
                <xs:documentation>Offer code</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:maxLength value='20'/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name='loyaltyProgram' minOccurs='0'>
              <xs:annotation>
                <xs:documentation>Loyalty Program ID</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:maxLength value='20'/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name='associationMadeBy' minOccurs='0'>
              <xs:annotation>
                <xs:documentation>Acces Id of the user</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:maxLength value='200'/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name='startDate' type='DateTimeWithTimezoneInfo' minOccurs='0'>
              <xs:annotation>
                <xs:documentation>The start date.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name='endDate' type='DateTimeWithTimezoneInfo' minOccurs='0'>
              <xs:annotation>
                <xs:documentation>The end date</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='ManufacturerInfo'>
    <xs:annotation>
      <xs:documentation>Manufacturer related identification information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name='make' type='xs:string' minOccurs='0'/>
      <xs:element name='model' type='xs:string' minOccurs='0'/>
      <xs:element name='marketingName' type='xs:string' minOccurs='0'>
        <xs:annotation>
          <xs:documentation>Device friendly name</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='MarketInfo'>
    <xs:annotation>
      <xs:documentation>Billing System Market</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name='billingMarket'>
        <xs:simpleType>
          <xs:restriction base='xs:string'>
            <xs:maxLength value='3'/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name='billingSubMarket'>
        <xs:simpleType>
          <xs:restriction base='xs:string'>
            <xs:maxLength value='3'/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name='localMarket' minOccurs='0'>
        <xs:annotation>
          <xs:documentation>Contains the Market from which the NBI Customer was migrated</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base='xs:string'>
            <xs:maxLength value='3'/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='NameInfo'>
    <xs:sequence>
      <xs:element name='namePrefix' minOccurs='0'>
        <xs:annotation>
          <xs:documentation>Name prefix or title (e.g. Dr., Mr., Mrs., etc.)</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base='xs:string'>
            <xs:maxLength value='5'/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name='firstName'>
        <xs:annotation>
          <xs:documentation>First Name</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base='xs:string'>
            <xs:maxLength value='32'/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name='middleName' minOccurs='0'>
        <xs:annotation>
          <xs:documentation>Middle name.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base='xs:string'>
            <xs:maxLength value='32'/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name='lastName' type='LastNameInfo'>
        <xs:annotation>
          <xs:documentation>Last Name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='nameSuffix' minOccurs='0'>
        <xs:annotation>
          <xs:documentation>Name suffix (e.g. Jr. - Junior, Sr. - Senior, etc.)</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base='xs:string'>
            <xs:maxLength value='12'/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name='additionalTitle' minOccurs='0'>
        <xs:annotation>
          <xs:documentation>A free text field that holds the additional title of the name (e.g. President, Major, General, etc.)</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base='xs:string'>
            <xs:maxLength value='32'/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='ResponseInfo'>
    <xs:sequence>
      <xs:element name='code' type='xs:string'/>
      <xs:element name='description' type='xs:string'/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='UserAccountServiceRoleAssociationInfo'>
    <xs:sequence>
      <xs:element name='roleID' type='xs:int'>
        <xs:annotation>
          <xs:documentation>Unique numeric ID assigned to identify this role</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='statusCode' type='xs:int' minOccurs='0'>
        <xs:annotation>
          <xs:documentation>The code which indicate the role status</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='associationCreateDate' type='DateWithTimezoneInfo' minOccurs='0'>
        <xs:annotation>
          <xs:documentation>Role association creation time</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='secondaryRequestIndicator' type='BooleanTrueInfo' minOccurs='0'>
        <xs:annotation>
          <xs:documentation>indicator to show that there is at least one pending request for secondary access on an account for which the passed AAID is primary owner.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='WirelineAccountCustomerContactInfo'>
    <xs:sequence>
      <xs:element name='emailAddress' type='EmailAddressInfo' minOccurs='0'/>
      <xs:element name='emailEstablishedDate' type='DateWithTimezoneInfo' minOccurs='0'/>
      <xs:element name='emailValidIndicator' type='xs:string' minOccurs='0'/>
      <xs:element name='phoneNumber' type='TelephoneNumberInfo' minOccurs='0'/>
      <xs:element name='phoneExtensionNumber' type='xs:string' minOccurs='0'/>
      <xs:element name='phoneTypeName' type='xs:string' minOccurs='0'/>
      <xs:element name='phoneEstablishedDate' type='DateWithTimezoneInfo' minOccurs='0'/>
      <xs:element name='phoneStatusCode' type='xs:string' minOccurs='0'/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
