Lisa/DevTest - Architecture Best Practices Overview/csi_OrderAndSubscriptionManagementMobility_232.0_schema/InquireUnifiedCustomerLoginProfileRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- =========================================================================

                         AT&T Proprietary (Internal Use Only)                                           

  Not for use or disclosure outside the AT&T companies except under written agreement

  (c) 2007 AT&T Intellectual Property. All rights reserved. AT&T and

        the AT&T logo are trademarks of AT&T Intellectual Property.

======================================================================= -->
<xs:schema elementFormDefault="qualified" targetNamespace="http://csi.cingular.com/CSI/Namespaces/Container/Public/InquireUnifiedCustomerLoginProfileRequest.xsd" version="211.0.00" xmlns="http://csi.cingular.com/CSI/Namespaces/Container/Public/InquireUnifiedCustomerLoginProfileRequest.xsd" xmlns:cdm="http://csi.att.com/CSI/Namespaces/OrderAndSubscriptionManagementMobility/Types/Public/CommonDataModel.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://csi.att.com/CSI/Namespaces/OrderAndSubscriptionManagementMobility/Types/Public/CommonDataModel.xsd" schemaLocation="CommonDataModel.xsd"/>
  <xs:element name="InquireUnifiedCustomerLoginProfileRequest" type="InquireUnifiedCustomerLoginProfileRequestInfo">
    <xs:annotation>
      <xs:documentation>Retrieves the single sign on related customer global profile</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="InquireUnifiedCustomerLoginProfileRequestInfo">
    <xs:annotation>
      <xs:documentation>Retrieves the single sign on related customer global profile</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AccountAndServiceIdentifier">
        <xs:annotation>
          <xs:documentation>The search keys used to inquire the customer global profile</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice>
            <xs:element name="memberNumber" type="cdm:MemberNumberInfo">
              <xs:annotation>
                <xs:documentation>Numeric ID used to identify a unique user</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="memberIdentifier" type="cdm:SLIDMemberIdInfo">
              <xs:annotation>
                <xs:documentation>legacy S, B memberID and SLID (single sign on identifier)</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="slidMemberNumber" type="cdm:MemberNumberInfo">
              <xs:annotation>
                <xs:documentation>A numerica ID identifing the SLID that a member ID is linked to. 
</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="parentMemberIdentifer" type="cdm:SLIDMemberIdInfo">
              <xs:annotation>
                <xs:documentation>Indicate the member identifier is a parentID</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="memberName" type="xs:string">
              <xs:annotation>
                <xs:documentation>Email handle without domain suffix</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="userContactEmail" type="cdm:EmailAddressInfo">
              <xs:annotation>
                <xs:documentation>User contact email </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="voipTelephoneNumber" type="cdm:TelephoneNumberInfo">
              <xs:annotation>
                <xs:documentation>Voice Over Internet Protocol telephone number</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="dslTelephoneNumber" type="cdm:TelephoneNumberInfo">
              <xs:annotation>
                <xs:documentation>DSL telephone number</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="wirelessBillingAccountNumber" type="cdm:BillingAccountNumberInfo">
              <xs:annotation>
                <xs:documentation>The billing account number for the desired wireless billing account.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="uverseBillingAccountNumber" type="cdm:FiberServiceAccountNumberInfo">
              <xs:annotation>
                <xs:documentation>The billing account number for the desired uverse billing account.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="titanBillingAccountNumber" type="cdm:FiberServiceAccountNumberInfo">
              <xs:annotation>
                <xs:documentation>The billing account number for the desired titan account.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="billingTelephoneNumber" type="cdm:AffiliateBillingAccountNumberInfo">
              <xs:annotation>
                <xs:documentation>The billing account number for the desired wireline billing account.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="wirelineAccountIdentifer" type="xs:string">
              <xs:annotation>
                <xs:documentation>BillingID used by att internally</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="subscriberNumber" type="cdm:SubscriberNumberInfo">
              <xs:annotation>
                <xs:documentation>wireless subscriber number - CTN</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="workingTelephoneNumber" type="cdm:TelephoneNumberInfo">
              <xs:annotation>
                <xs:documentation>The wireline working telephone number (WTN)</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="setTopBoxDeviceID" type="xs:string">
              <xs:annotation>
                <xs:documentation>Set top box unique identifier.   Only for L1+L2+L3
</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="subscriberIdentifer" type="cdm:SubscriberIdInfo">
              <xs:annotation>
                <xs:documentation>Wireless Subcribler ID</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="direcTVAccountNumber" type="cdm:DTVAccountNumberInfo"/>
            <xs:element name="opaqueId">
              <xs:annotation>
                <xs:documentation>Used to retrieve memberNumber or slidMemberNumber from TGuard</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="tatsTokenId">
              <xs:annotation>
                <xs:documentation>Used to retrieve memberNumber or slidMemberNumber from TGuard</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="500"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="lockerServiceId">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="NameAndZipDetails">
              <xs:annotation>
                <xs:documentation>Applicable for L1 profile call only (user, identity, contact) and is used to retrieve profiles based on member Ids up to the search limit and any applicable access Id associated with the member Id.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="firstName">
                    <xs:annotation>
                      <xs:documentation>First name, no spaces in between.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="cdm:FirstNameInfo">
                        <xs:minLength value="1"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="lastName">
                    <xs:annotation>
                      <xs:documentation>Last name, no spaces in between.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="cdm:LastNameInfo">
                        <xs:minLength value="1"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="zipCode" type="cdm:ZipCodeInfo">
                    <xs:annotation>
                      <xs:documentation>US applicable zip codes only, no territories.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element default="10" minOccurs="0" name="searchLimit">
                    <xs:annotation>
                      <xs:documentation>Limits the acceptable result of member Ids to be searched.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:int">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="10"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="GenericServiceCodeAndIdentifier">
              <xs:annotation>
                <xs:documentation>Applicable for L1 And L2 only.With L1 call - profile call (user, identity, contact) will retrieve profiles based on Generic service code and Id supplied in request. L2 with genericServiceCode is will return user profiles along with associated service summary .</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="code">
                    <xs:annotation>
                      <xs:documentation>Generic service code/type. Code must be passed when making L1 call.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="30"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="identifier">
                    <xs:annotation>
                      <xs:documentation>Generic service identifier</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="50"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="AccountAndServiceMode">
        <xs:annotation>
          <xs:documentation>The mode used to define the subset of customer account and service data which client is interested in</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice>
            <xs:element name="user" type="cdm:BooleanTrueInfo">
              <xs:annotation>
                <xs:documentation>Request the user informiaton</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="userIdentity" type="cdm:BooleanTrueInfo">
              <xs:annotation>
                <xs:documentation>Request both user and identity informiaton</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="userIdentityContact" type="cdm:BooleanTrueInfo">
              <xs:annotation>
                <xs:documentation>Requets user, identity and user contact information</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="userServiceAccess" type="cdm:BooleanTrueInfo">
              <xs:annotation>
                <xs:documentation>Request user service access and Mashups Enabler subscriber identities - only support SubID, MemberID and CTN</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="UserAccountServiceSummary">
              <xs:annotation>
                <xs:documentation>Requets user or and account, service summary information</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="mode">
                    <xs:annotation>
                      <xs:documentation>1. ACCOUNT_SERVICE_SUMMARY - Account Service Summary
2. ACCOUNT_SERVICE_SUMMARY_ROLE - account service association and the related roles
3. USER_ACCOUNT_SERVICE_SUMMARY - user and account service association
4. USER_IDENTITY_ACCOUNT_SERVICE_SUMMARY - user, user identity and account service association
5. USER_IDENTIY_ACCOUNT_SERVICE_SUMMARY_ROLE - user, user identity, account service association and related roles
6. USER_IDENTITY_CONTACT_ACCOUNT_SERVICE_SUMMARY - user, user identity, user contact and account service association
7. USER_IDENTITY_CONTACT_ACCOUNT_SERVICE_SUMMARY_ROLE - user, user identity, user contact, account service association and related roles</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="ACCOUNT_SERVICE_SUMMARY"/>
                        <xs:enumeration value="ACCOUNT_SERVICE_SUMMARY_ROLE"/>
                        <xs:enumeration value="USER_ACCOUNT_SERVICE_SUMMARY"/>
                        <xs:enumeration value="USER_IDENTITY_ACCOUNT_SERVICE_SUMMARY"/>
                        <xs:enumeration value="USER_IDENTIY_ACCOUNT_SERVICE_SUMMARY_ROLE"/>
                        <xs:enumeration value="USER_IDENTITY_CONTACT_ACCOUNT_SERVICE_SUMMARY"/>
                        <xs:enumeration value="USER_IDENTITY_CONTACT_ACCOUNT_SERVICE_SUMMARY_ROLE"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="accountServiceCode">
                    <xs:annotation>
                      <xs:documentation>1.UVERSE_ACCOUNT - Uverse Account
2.WIRELINE_ACCOUNT - Wireline Account
3.WIRELESS_ACCOUNT - Wireless Account
4.DSL_SERVICE - DSL Service
5.HIGHSPEEDINTERNETACCESS_SERVICE - Highspeed Internet Access (HIA) Service
6.INTERNETPROTOCOLTELEVISION_SERVICE - Internet Protocol Television (IPTV) Service
7.VOICEOVERINTERNETPROTOCOL_SERVICE - Voice Over Internet Protocol (VOIP) Service
8.INTERNETSECURITYSUITE_SERVICE - Internet Security Suite Service
9.ACTIVEADDRESSBOOK_SERVICE - Service
10.DIALUP_SERVICE - DialUp Service (dialup1)
11.ISDN_SERVICE - Isdn Service (dialup2)
12.ISDN2_SERVICE - isdn2 Service (dialup3)
13.PORTAL_SERVICE - Portal Service
14.WIFI_SERVICE - Wifi Service
15.HOMEENTERTAINMENT_SERVICE - Home Entertainment Service
16.SHAREDWEBHOSTING_SERVICE - Shared web Hosting Service
17.YELLOWPAGE_SERVICE - Yellow Page Service           18. MAINCTN_SERVICE - Main CTN Service 
19.TITAN_ACCOUNT - Titan Account
20. DLIFE - Digital Life ID
21. XANBOO - Xanboo Service ID
22. DIRECTV - Direct Tv Account
23 . LOCKER - Locker Account
24. DLIFELIGHT - Digital life Light service</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="TITAN_ACCOUNT"/>
                        <xs:enumeration value="UVERSE_ACCOUNT"/>
                        <xs:enumeration value="WIRELINE_ACCOUNT"/>
                        <xs:enumeration value="WIRELESS_ACCOUNT"/>
                        <xs:enumeration value="DSL_SERVICE"/>
                        <xs:enumeration value="HIGHSPEEDINTERNETACCESS_SERVICE"/>
                        <xs:enumeration value="INTERNETPROTOCOLTELEVISION_SERVICE"/>
                        <xs:enumeration value="VOICEOVERINTERNETPROTOCOL_SERVICE"/>
                        <xs:enumeration value="INTERNETSECURITYSUITE_SERVICE"/>
                        <xs:enumeration value="ATTADDRESSBOOK_SERVICE"/>
                        <xs:enumeration value="DIALUP_SERVICE"/>
                        <xs:enumeration value="ISDN_SERVICE"/>
                        <xs:enumeration value="ISDN2_SERVICE"/>
                        <xs:enumeration value="PORTAL_SERVICE"/>
                        <xs:enumeration value="WIFI_SERVICE"/>
                        <xs:enumeration value="HOMEENTERTAINMENT_SERVICE"/>
                        <xs:enumeration value="SHAREDWEBHOSTING_SERVICE"/>
                        <xs:enumeration value="YELLOWPAGE_SERVICE"/>
                        <xs:enumeration value="MAINCTN_SERVICE"/>
                        <xs:enumeration value="DLIFE"/>
                        <xs:enumeration value="XANBOO"/>
                        <xs:enumeration value="DIRECTV"/>
                        <xs:enumeration value="LOCKER"/>
                        <xs:enumeration value="DLIFELIGHT"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element maxOccurs="50" minOccurs="0" name="genericServiceCode">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="30"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element minOccurs="0" name="genericServiceInfo" type="cdm:BooleanTrueInfo">
                    <xs:annotation>
                      <xs:documentation>If True and GenericServiceCodeAndIdentifier sent (under AccountAndServiceIdentifier), it will return service association of supplied generic service code </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="UserAccountServiceDetail">
              <xs:annotation>
                <xs:documentation>Request user or/and account, service summary</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="mode">
                    <xs:annotation>
                      <xs:documentation>Seperate UserAccountServiceDetals data into 4 logic group: 1.ACCOUNT_SERVICE_DETAIL - Account and Service detailed information
2.ACCOUNT_SERVICE_SUMMARY_DETAIL - Account and Service association and detailed information
3.ACCOUNT_SERVICE_SUMMARY_ROLE_DETAIL - Account and Service Assocation, related roles and detailed information
4.USER_IDENTITY_CONTACT_ACCOUNT_SERVICE_SUMMARY_ROLE_DETAIL - User, Account/Service association and detailed information
</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="ACCOUNT_SERVICE_DETAIL"/>
                        <xs:enumeration value="ACCOUNT_SERVICE_SUMMARY_DETAIL"/>
                        <xs:enumeration value="ACCOUNT_SERVICE_SUMMARY_ROLE_DETAIL"/>
                        <xs:enumeration value="USER_IDENTITY_CONTACT_ACCOUNT_SERVICE_SUMMARY_ROLE_DETAIL"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element minOccurs="0" name="AccountServiceCode">
                    <xs:annotation>
                      <xs:documentation>Further grouping user account service details data with service code</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="wirelineAccount">
                          <xs:annotation>
                            <xs:documentation>Request Wireline Account Information and jurther group wireline account data: 1.WLN_CORE_MISC -  Inquire Wireline Account Core and Misscelanious Data
2.WLN_CORE_BILL_ADDR_SERVICE_ADDR - Wireline Account Core, BillingAddress and Service Address Data
3.WLN_CORE_NOTIFS - Wireline Account Core and Notification Data
4.WLN_CORE_CONTACT_MISC - Wireline Account Core, Contact and Misscelanious Data
5.WLN_CORE_WTN - Wireline Account WTN related Data
6.WLN_CORE_WTN_USOC - Wireline USOCs Unfiltered related Data
7.WLN_CORE_WTN_USOC_FLT - Wireline USOCs Filtered related Data
</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="WLN_CORE_MISC"/>
                              <xs:enumeration value="WLN_CORE_BILL_ADDR_SERVICE_ADDR"/>
                              <xs:enumeration value="WLN_CORE_NOTIFS"/>
                              <xs:enumeration value="WLN_CORE_CONTACT_MISC"/>
                              <xs:enumeration value="WLN_CORE_WTN"/>
                              <xs:enumeration value="WLN_CORE_WTN_USOC"/>
                              <xs:enumeration value="WLN_CORE_WTN_USOC_FLT"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="wirelessAccount">
                          <xs:annotation>
                            <xs:documentation>Request Wireless Account Information and further group wireless account data: 1.WLS_CORE_CTN - Wireless Account CTN Data
2.WLS_CORE_BILL_ADDR_MISC - Billing Address and Miscellaneous related Wireless Account Data          3.WLS_CORE_OFFER - lastUpgradeDate and commitmentReasonCode
4.WLS_CORE_CTN_SOC - SOCs Unfiltered
5.WLS_CORE_CTN_SOC_FLT - SOCs Filtered
6. WLS_CORE_MAINCTN - access Ids and moSub service association for a given mainCTNm, must pass olamIndicator with this subMode
7.DLIFE -
populate DLIFE If DLBAN send as wirelessBillingAccountNumber</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="WLS_CORE_BILL_ADDR_MISC"/>
                              <xs:enumeration value="WLS_CORE_CTN"/>
                              <xs:enumeration value="WLS_CORE_OFFER"/>
                              <xs:enumeration value="WLS_CORE_CTN_SOC"/>
                              <xs:enumeration value="WLS_CORE_CTN_SOC_FLT"/>
                              <xs:enumeration value="WLS_CORE_MAINCTN"/>
                              <xs:enumeration value="DLIFE"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="uverseAccount">
                          <xs:annotation>
                            <xs:documentation>Request Uverse Account Information and further group Uverse account data: 1.UVERSE_CORE_UVERSE_SERVICE_ADDR_MISC - Addess and Misscelanious related Uverse Account Data
2.UVERSE_CORE_BILL_ADDR - Uverse Account and Billing  Data
3.UVERSE_CORE_COMPONENTS - Uverse Account and Components related Uverse Account Data
4.UVERSE_CORE_VOIP_TN - Uverse Account and Voip TN related Uverse Account Data
5.UVERSE_CORE_PROFILE - Uverse Account Profile Data
6.UVERSE_CORE_NOTIFS - Uverse Account Notification Data
7.UVERSE_CORE_IPTV_STB - Uverse Account IPTV  Data
8.UVERSE_CORE_IPTV_GENRE_PACKS - Uverse Account IPTV Genre Package Data</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="UVERSE_CORE_UVERSE_SERVICE_ADDR_MISC"/>
                              <xs:enumeration value="UVERSE_CORE_BILLE_ADDR"/>
                              <xs:enumeration value="UVERSE_CORE_COMPONENTS"/>
                              <xs:enumeration value="UVERSE_CORE_VOIP_TN"/>
                              <xs:enumeration value="UVERSE_CORE_PROFILE"/>
                              <xs:enumeration value="UVERSE_CORE_NOTIFS"/>
                              <xs:enumeration value="UVERSE_CORE_IPTV_STB"/>
                              <xs:enumeration value="UVERSE_CORE_IPTV_GENRE_PACKS"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="titanAccount">
                          <xs:annotation>
                            <xs:documentation>Request TITAN Account Information and further group TITAN account data: 1.TITAN_CORE_TITAN_SERVICE_ADDR_MISC - Addess and Misscelanious related TITAN Account Data
2.TITAN_CORE_BILL_ADDR - TITAN Account and Billing  Data
3.TITAN_CORE_COMPONENTS - TITAN Account and Components related TITAN Account Data
4.TITAN_CORE_VOIP_TN - TITAN Account and Voip TN related TITAN Account Data
5.TITAN_CORE_PROFILE - TITAN Account Profile Data
6.TITAN_CORE_NOTIFS - TITAN Account Notification Data
7.TITAN_CORE_IPTV_STB - TITAN Account IPTV  Data
8.TITAN_CORE_IPTV_GENRE_PACKS - TITAN Account IPTV Genre Package Data</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="TITAN_CORE_TITAN_SERVICE_ADDR_MISC"/>
                              <xs:enumeration value="TITAN_CORE_BILLE_ADDR"/>
                              <xs:enumeration value="TITAN_CORE_COMPONENTS"/>
                              <xs:enumeration value="TITAN_CORE_VOIP_TN"/>
                              <xs:enumeration value="TITAN_CORE_PROFILE"/>
                              <xs:enumeration value="TITAN_CORE_NOTIFS"/>
                              <xs:enumeration value="TITAN_CORE_IPTV_STB"/>
                              <xs:enumeration value="TITAN_CORE_IPTV_GENRE_PACKS"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="serviceCode">
                          <xs:annotation>
                            <xs:documentation>Request different service information, 1.DSL_SERVICE - DSL Service
2.HIGHSPEEDINTERNETACCESS_SERVICE - Highspeed Internet Access (HIA) Service
3.INTERNETPROTOCOLTELEVISION_SERVICE - Internet Protocol Television (IPTV) Service
4.VOICEOVERINTERNETPROTOCOL_SERVICE - Voice Over Internet Protocol (VOIP) Service
5.INTERNETSECURITYSUITE_SERVICE - Internet Security Suite Service
6.ACTIVEADDRESSBOOK_SERVICE - Service
7.DIALUP_SERVICE - DialUp Service (dialup1)
8.ISDN_SERVICE - Isdn Service (dialup2)
9.ISDN2_SERVICE - isdn2 Service (dialup3)
10.PORTAL_SERVICE - Portal Service
11.WIFI_SERVICE - Wifi Service
12.HOMEENTERTAINMENT_SERVICE - Home Entertainment Service
13.SHAREDWEBHOSTING_SERVICE - Shared web Hosting Service
14.YELLOWPAGE_SERVICE - Yellow Page Service       
15.MAINCTN_SERVICE - Main CTN Service.    
16. LOCKER - Locker Service
17. DLIFELIGHT - Digital life Light service</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="DSL_SERVICE"/>
                              <xs:enumeration value="HIGHSPEEDINTERNETACCESS_SERVICE"/>
                              <xs:enumeration value="INTERNETPROTOCOLTELEVISION_SERVICE"/>
                              <xs:enumeration value="VOICEOVERINTERNETPROTOCOL_SERVICE"/>
                              <xs:enumeration value="INTERNETSECURITYSUITE_SERVICE"/>
                              <xs:enumeration value="ATTADDRESSBOOK_SERVICE"/>
                              <xs:enumeration value="DIALUP_SERVICE"/>
                              <xs:enumeration value="ISDN_SERVICE"/>
                              <xs:enumeration value="ISDN2_SERVICE"/>
                              <xs:enumeration value="PORTAL_SERVICE"/>
                              <xs:enumeration value="WIFI_SERVICE"/>
                              <xs:enumeration value="HOMEENTERTAINMENT_SERVICE"/>
                              <xs:enumeration value="SHAREDWEBHOSTING_SERVICE"/>
                              <xs:enumeration value="YELLOWPAGE_SERVICE"/>
                              <xs:enumeration value="MAINCTN_SERVICE"/>
                              <xs:enumeration value="LOCKER"/>
                              <xs:enumeration value="DLIFELIGHT"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element maxOccurs="50" minOccurs="0" name="genericServiceCode">
                          <xs:annotation>
                            <xs:documentation>Used for generic service search</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="30"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="Pagination">
                    <xs:annotation>
                      <xs:documentation>This pagination is performed only for the L1+L2+L3, L2+L3 and L3 request.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="recordNumber" type="xs:int">
                          <xs:annotation>
                            <xs:documentation>row number to begin the next (or first) data retrieval. If it is for the first data retrieval, recordNumber will be 1. </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="numberOfRecordsPerPage" type="xs:int">
                          <xs:annotation>
                            <xs:documentation>The number of rows to be returned in response.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="billFormatCode">
                    <xs:annotation>
                      <xs:documentation>This is performed only on Wireless account in L1+L2+L3, L2+L3 or L3 modes for client to retrieve specific bill format options, the possible values are XM,MP,RC etc.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="2"/>
                        <xs:minLength value="1"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="scaledDownResponseIndicator" type="cdm:BooleanTrueInfo">
              <xs:annotation>
                <xs:documentation>If true and FraudDetailsIndicator = true, it will return scaled down response containing Fraud elements in response.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="olamIndicator" type="cdm:BooleanTrueInfo">
        <xs:annotation>
          <xs:documentation>request OLAM registered CTN&apos;s data</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="fraudDetailsIndicator" type="cdm:BooleanTrueInfo">
        <xs:annotation>
          <xs:documentation>If &quot;value = true + scaledDownResponseIndicator = true&quot;, then it will only return scaled down response containing Fraud Attributes.  If &quot;value = true + mode/SubModes&quot; , then it will return BAU response + Fraud Attributes.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="integratedOffersIndicator" type="cdm:BooleanTrueInfo">
        <xs:annotation>
          <xs:documentation>If value = true +L3 related mode/SubModes  then will return IntegratedOffers Details details attributes</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
