Lisa/DevTest - Architecture Best Practices Overview/csi_UnifiedServices_232.0_schema/InquireUnifiedServiceProductDetailsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- =========================================================================

                         AT&T Proprietary (Internal Use Only)                                           

  Not for use or disclosure outside the AT&T companies except under written agreement

  (c) 2007 AT&T Intellectual Property. All rights reserved. AT&T and

        the AT&T logo are trademarks of AT&T Intellectual Property.

======================================================================= -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://csi.cingular.com/CSI/Namespaces/Container/Public/InquireUnifiedServiceProductDetailsRequest.xsd" version="232.0.00" xmlns="http://csi.cingular.com/CSI/Namespaces/Container/Public/InquireUnifiedServiceProductDetailsRequest.xsd" xmlns:cdm="http://csi.att.com/CSI/Namespaces/UnifiedServices/Types/Public/CommonDataModel.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://csi.att.com/CSI/Namespaces/UnifiedServices/Types/Public/CommonDataModel.xsd" schemaLocation="CommonDataModel.xsd"/>
  <xs:element name="InquireUnifiedServiceProductDetailsRequest" type="InquireUnifiedServiceProductDetailsRequestInfo">
    <xs:annotation>
      <xs:documentation>InquireUnifiedServiceProductDetailsRequest</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="InquireUnifiedServiceProductDetailsRequestInfo">
    <xs:sequence>
      <xs:element name="mode">
        <xs:annotation>
          <xs:documentation> LIST mode returns list of product orders for the customer id based on OrderListFilter criteria.If mode is LIST then orderType must be set to retrieve and actitivyForConfiguration must be set to RetrieveOrderList. DETAIL mode returns assigned product details, pending product order details, new order configuration details based on ProductConfiguration.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="LIST"/>
            <xs:enumeration value="DETAIL"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="OrderingContext" type="cdm:UnifiedOrderingContextInfo">
        <xs:annotation>
          <xs:documentation>Parameters for the context of the operation.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Customer" type="cdm:UnifiedCustomerLocalInfo">
        <xs:annotation>
          <xs:documentation>Use anonymous customer if ordertype is new/retrieve and customer details are not available.Customer details are required when the orderType is amend/change. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConfigurationOptions">
        <xs:annotation>
          <xs:documentation>Indication of actions that should/should not be performed by the operation.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="activityForConfiguration">
              <xs:annotation>
                <xs:documentation>Sample value: NegotiateProductConfiguration,OrderSummary,AMSSAssignedProductView,NegotiateProdGen,RetrieveCatalogActivity,RetrieveOrderList</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="255"/>
                  <xs:enumeration value="NegotiateProdGen"/>
                  <xs:enumeration value="AMSSAssignedProductView"/>
                  <xs:enumeration value="AMSSProductView"/>
                  <xs:enumeration value="RetrieveOrderList"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="orderType" type="cdm:UnifiedOrderTypeInfo">
              <xs:annotation>
                <xs:documentation>Valid values : new , change, amend, retrieve. InitiateUnifiedServiceOrder shoud be called before using  new,change and amend orderType.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="10" minOccurs="0" name="masks">
              <xs:annotation>
                <xs:documentation>Specifies the level of details of the data that is requested by client. ONLY_VISIBLE is applicable only for UMC product offer configuration.DISPLAY_INFO is not supported in 1610.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="50"/>
                  <xs:enumeration value="PREVIOUS_QUOTED_RECURRING_PRICES"/>
                  <xs:enumeration value="QUOTED_PRORATION"/>
                  <xs:enumeration value="QUOTED_TAX"/>
                  <xs:enumeration value="CROSS_PRODUCTS_DISCOUNTS_DATA"/>
                  <xs:enumeration value="SUMMARY"/>
                  <xs:enumeration value="CATALOG_DATA"/>
                  <xs:enumeration value="CATALOG_LITE"/>
                  <xs:enumeration value="QUOTED_PRICES"/>
                  <xs:enumeration value="ONLY_VISIBLE"/>
                  <xs:enumeration value="DISPLAY_INFO"/>
                  <xs:enumeration value="RETRIEVE_INFO"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="wirelessConvergeIndicator" type="cdm:BooleanTrueInfo">
              <xs:annotation>
                <xs:documentation>Required when wireless converge service is part of the order. Applies only for UMC-wireless conveege product offer.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="thirdPartyAvailableProductIndicator" type="cdm:BooleanTrueInfo">
              <xs:annotation>
                <xs:documentation>If set to True then available third party products will be returned in Directv products. Note:OMS field name is AvailableProductX9</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="returnProductOrderItemDetailsFlag" type="cdm:TrueFalseInfo">
              <xs:annotation>
                <xs:documentation>Based on this flag OMS will send the minimum info in the API response. Only basic info for each OA will be populated.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="returnBundle">
              <xs:annotation>
                <xs:documentation>Required for Uverse only.The attribute indicates whether eligible bundles based on dynamic product should be returned. Valid values 0/1</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="0"/>
                  <xs:enumeration value="1"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="MobilityFilter" type="cdm:UnifiedMobilityFilterInfo">
              <xs:annotation>
                <xs:documentation>Network info</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="OrderListFilter">
              <xs:annotation>
                <xs:documentation>This structure contains the search criteria to filter orders based on the search criteria. Applies only for list mode.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="orderItemId">
                    <xs:annotation>
                      <xs:documentation>used to filter orders by Order Item Id.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="10"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element minOccurs="0" name="orderId">
                    <xs:annotation>
                      <xs:documentation>Used to filter orders by Order Id </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="10"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element minOccurs="0" name="lineOfBusiness">
                    <xs:annotation>
                      <xs:documentation>Used to filter orders by lineOfBusiness</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="ALL"/>
                        <xs:enumeration value="DT"/>
                        <xs:enumeration value="WD"/>
                        <xs:enumeration value="WV"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element maxOccurs="12" minOccurs="0" name="orderStatusCode">
                    <xs:annotation>
                      <xs:documentation>Used to filter the orders by status .If empty returns non completed orders. Cancelled,Discontinued,Closed,Expired,In Error,Open,Future,Initial,Reject,Submitted,Submit Requested,To Be Cancelled</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="TC"/>
                        <xs:enumeration value="SR"/>
                        <xs:enumeration value="SB"/>
                        <xs:enumeration value="RE"/>
                        <xs:enumeration value="IN"/>
                        <xs:enumeration value="FU"/>
                        <xs:enumeration value="EX"/>
                        <xs:enumeration value="ER"/>
                        <xs:enumeration value="EP"/>
                        <xs:enumeration value="DO"/>
                        <xs:enumeration value="CA"/>
                        <xs:enumeration value="DC"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element default="ALL" minOccurs="0" name="productOrderItemType">
                    <xs:annotation>
                      <xs:documentation>This parameters indicates if the ProductOrderItems should be filtered according to their type: PROVIDE - to return only Provide ProductOrderItems NON_PROVIDE - to return only non-provide ProductOrderItems ALL - to return all ProductOrderItems.Default behavior (when not populating the parameter) is like sending &apos;ALL&apos;</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="NON_PROVIDE"/>
                        <xs:enumeration value="PROVIDE"/>
                        <xs:enumeration value="ALL"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element minOccurs="0" name="maxOrderListCount" type="xs:integer">
                    <xs:annotation>
                      <xs:documentation>The maximum number of orders returned.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="minProductOrderCreationDate" type="xs:date">
                    <xs:annotation>
                      <xs:documentation>The ProductOrderItems will be filtered form this creationDate and on.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="salesOfferFlowIndicator" type="cdm:BooleanTrueInfo">
              <xs:annotation>
                <xs:documentation>When sent as true or sales offers present in request. OMS will handle RPC as if it?s Sales Offer flow</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="mduSelectedContract" type="xs:integer">
              <xs:annotation>
                <xs:documentation>Indicates duration, defined in months, of an account level contract when a DIRECTV MDU (MultiDwelling Unit) customer orders services.  Example values are 0, 12, 24</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ProductConfiguration" type="cdm:UnifiedProductConfigurationInfo"/>
      <xs:element minOccurs="0" name="UserHierarchy" type="cdm:UnifiedUserHierarchyInfo">
        <xs:annotation>
          <xs:documentation>Required for Uverse only</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="BillingDetails">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="nextBillCycleCode" type="xs:integer"/>
            <xs:element minOccurs="0" name="billingCycleCode" type="xs:integer">
              <xs:annotation>
                <xs:documentation>Billing cycle code information required for existing customer</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
