Lisa/DevTest - Architecture Best Practices Overview/csi_UnifiedServices_232.0_schema/InquireUnifiedServiceProductDetailsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- =========================================================================

                         AT&T Proprietary (Internal Use Only)                                           

  Not for use or disclosure outside the AT&T companies except under written agreement

  (c) 2007 AT&T Intellectual Property. All rights reserved. AT&T and

        the AT&T logo are trademarks of AT&T Intellectual Property.

======================================================================= -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://csi.cingular.com/CSI/Namespaces/Container/Public/InquireUnifiedServiceProductDetailsResponse.xsd" version="232.0.00" xmlns="http://csi.cingular.com/CSI/Namespaces/Container/Public/InquireUnifiedServiceProductDetailsResponse.xsd" xmlns:cdm="http://csi.att.com/CSI/Namespaces/UnifiedServices/Types/Public/CommonDataModel.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://csi.att.com/CSI/Namespaces/UnifiedServices/Types/Public/CommonDataModel.xsd" schemaLocation="CommonDataModel.xsd"/>
  <xs:element name="InquireUnifiedServiceProductDetailsResponse" type="InquireUnifiedServiceProductDetailsResponseInfo"/>
  <xs:complexType name="InquireUnifiedServiceProductDetailsResponseInfo">
    <xs:sequence>
      <xs:element name="processCompleteIndicator" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Business Process Completion indicator</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="UnifiedServiceProductOrderList">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="fullRowCount" type="xs:integer"/>
            <xs:element minOccurs="0" name="clientId">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="240"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element maxOccurs="99" minOccurs="0" name="productOrderItems" type="cdm:ProductOrderItemInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="UnifiedServiceProductDetails" type="cdm:RetrieveProductConfigurationInfo"/>
      <xs:element maxOccurs="50" minOccurs="0" name="ProductAvailability" type="cdm:UnifiedProductAvailabilityInfo">
        <xs:annotation>
          <xs:documentation>Required for Uverse only.Availability of products</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="DealerDetails" type="cdm:UnifiedDealerInfo"/>
      <xs:element minOccurs="0" name="ServingNetworkDetails" type="cdm:UnifiedServingNetworkInfo">
        <xs:annotation>
          <xs:documentation>Required for Uverse only.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="retryIndicator" type="cdm:BooleanTrueInfo">
        <xs:annotation>
          <xs:documentation>If there are any connection issues in the flow and the transaction is being retried this flag will be set to true. This is a temporary field.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Response" type="cdm:ResponseInfo"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
